<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>人物简历</title>
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-themes/ui-cupertino/easyui.css">
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-1.5.1/themes/icon.css">
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript">
        $(function () {


            $('.easyui-tooltip').tooltip({
                content: $('<div></div>'),
                onShow: function(){
                    $(this).tooltip('arrow').css('left', 20);
                    $(this).tooltip('tip').css('left', $(this).offset().left);
                },
                onUpdate: function(content){
                    content.panel({
                        width: 400,
                        height: 'auto',
                        border: false,
                        href: '/films/'+$(this).attr("id")+"/media", //获取电影对应的filepath
                    });
                }
            });
        });
    </script>
</head>
<style>
    body{
        margin: 0px;
        padding: 0px;
    }
</style>

<body>

    <div id="content">
        <div id="article">
            <div id="headline">
                <h3>${star.nameExtend}</h3>
            </div>
            <div id="intro">

            </div>
        </div>

    </div>

</body>
</html>