<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-themes/ui-cupertino/easyui.css">
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-1.5.1/themes/icon.css">

    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>


    <script type="text/javascript">
        //查询按钮
        function doSearch() {
            $("#dg").datagrid('reload',{
                name:$("#name").val()
            });
        }

        //双击当前行打开当前人物简介
        var openResume = function (personId,produceype) {
            $('#films').dialog({
                title: '影人资料',
                width: 730,
                height: 400,
//                top: ($(window).height() - 730) * 0.5,
//                left: ($(window).width() - 500) * 0.5,
                closed: false,
                cache: false,
//                collapsible: true,
//                maximizable: true,
                resizable: true,
                shadow: true,
                left: 100,
                top: 5,
                modal: true,
//                onResize:function(){$(this).dialog('center');},
                content: '<iframe frameborder="0"  src="/persons/' + personId + '"  style="height: 98%; width: 100%;" ></iframe>'
            });
        };

        //对话框弹出所有作品
        function openWorks(nameExtend, personId, produceype) {
            $('#films').dialog({
                title: nameExtend,
                width: 760,
                height: 500,
//              top: ($(window).height() - 730) * 0.5,
//              left: ($(window).width() - 500) * 0.5,
                closed: false,
                cache: false,
//              collapsible: true,
//              maximizable: true,
                resizable: true,
                shadow: true,
                left: 100,
                top: 5,
                modal: true,
//              onResize:function(){$(this).dialog('center');},
                content: '<iframe frameborder="0"  src="/persons/' + personId + '/films/type/'+produceype+'"  style="height: 100%; width: 100%;" ></iframe>'
            });
        }

        function formatAsDirector(index, row ) {
            return "<a style='text-decoration: none;cursor:pointer;' href='javascript:openWorks(&quot;"+ row['nameExtend']+"&quot;,"+ row['id'] + ",1)'>"+ row['asDirectorNumber'] + "</a>";
        }
        function formatAsActor(index, row ) {
            return "<a style='text-decoration: none;cursor:pointer;' href='javascript:openWorks(&quot;"+ row['nameExtend']+"&quot;,"+ row['id'] + ",2)'>"+ row['asActorNumber'] + "</a>";
        }
        
        function show() {
            $(this).tooltip('arrow').css('left', 20);
            $(this).tooltip('tip').css('left', $(this).offset().left);
        }

        function update(cc) {
            cc.panel({
                width: 500,
                height: 'auto',
                border: false,
                href: '_content.html'
            });
        }

        $(document).ready(function () {
            //实现按回车键进行搜索功能
            $("body").keydown(function(e) {
                e = e||window.event;
                if (e.keyCode == "13") {//keyCode=13是回车键
                    doSearch();//搜索函数
                }
            });


            $("#dg").datagrid({
                url:'${dataUrl}',
                toolbar: '#${toolbarType}',
                pagination:true,
                rownumbers:true,
                striped:true,
                border:false,
                singleSelect:true,
                fit:true,//自动补全
                fitColumns:true,
                multiSort:true,
                remoteSort:true,
                pageSize:25,
                pageList:[25,50,100,200],
                columns:[[
                    {field:'ck',checkbox:'true'},
                    {field:'id',title:'id',hidden:'true'},
                    {field:'name',title:'姓名',width:50,
                        formatter: function (value, row, index) { return '<span class="easyui-tooltip" id="'+row.person.id+'">'+row.person.name+'</span>' }
                    },
                    {field:'asActorNumber',title:'参演',width:20,
                        formatter: formatAsActor
                    },
                    {field:'asDirectorNumber',title:'参导',width:20,
                        formatter: formatAsDirector
                    },
                    {field:'nameExtend',title:'姓名（全）',width:80,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.nameExtend;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'job',title:'工作',width:120,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.job;
                            } else {
                                return value;
                            }
                        }
                    },

                    {field:'birthDay',title:'出生日',width:30,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.birthDay;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'birthPlace',title:'出生地',width:60,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.birthPlace;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'gender',title:'性别',width:10,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.gender;
                            } else {
                                return value;
                            }
                        }
                    },
                ]],
                loadFilter: function(data){
                    var ret={};
                    ret.rows=data.content;
                    ret.total=data.totalElements;
                    return ret;
                },
                onDblClickCell: function(index,field,value){
                    //选中
                    $(this).datagrid('selectRow', index);
                    var row = $(this).datagrid("getSelected");
                    openResume(row['id'],"1");

                }

            });



        });


    </script>

</head>
<body>
<#include "/toolbars/${toolbarType}.html"/>
<table id="dg" class="easyui-datagrid"></table>
<div id="films"></div>

</div>
</body>
</html>