<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-themes/ui-cupertino/easyui.css">
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-1.5.1/themes/icon.css">

    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>


    <script type="text/javascript">
        var url;
        function newUser(){
            $('#dlg').dialog('open').dialog('setTitle','New User');
            $('#fm').form('clear');
            url = 'save_user.php';
        }
        function editUser(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $('#dlg').dialog('open').dialog('setTitle','Edit User');
                $('#fm').form('load',row);
                url = 'update_user.php?id='+row.id;
            }
        }
        function saveUser(){
            $('#fm').form('submit',{
                url: url,
                onSubmit: function(){
                    return $(this).form('validate');
                },
                success: function(result){
                    var result = eval('('+result+')');
                    if (result.success){
                        $('#dlg').dialog('close');		// close the dialog
                        $('#dg').datagrid('reload');	// reload the user data
                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result.msg
                        });
                    }
                }
            });
        }
        function removeUser(){
            var row = $('#dg').datagrid('getSelected');
            if (row){
                $.messager.confirm('Confirm','Are you sure you want to remove this user?',function(r){
                    if (r){
                        $.post('remove_user.php',{id:row.id},function(result){
                            if (result.success){
                                $('#dg').datagrid('reload');	// reload the user data
                            } else {
                                $.messager.show({	// show error message
                                    title: 'Error',
                                    msg: result.msg
                                });
                            }
                        },'json');
                    }
                });
            }
        }


        function deal_dept(value,row,rowIndex) {
            if(row.media!=undefined){
                return row.media.name;
            }
        }

        function doSearch() {
            $("#dg").datagrid('reload',{
                subject:$("#subject").val(),
            });
        }

       $(function () {
            $("#dg").datagrid({
                url:'${dataUrl}',
                toolbar: '#toolbar',
                pagination:true,
                rownumbers:true,
                striped:true,
                border:false,
                fit:true,//自动补全
                fitColumns:true,
                sortName:'year',
                multiSort:true,
                remoteSort:true,
                pageSize:25,
                pageList:[25,50,100,200],
                columns:[[
                    {field:'ck',checkbox:'true'},
                    {field:'subject',title:'片名',width:40,
                        formatter: function (value, row, index) { return '<span class="easyui-tooltip" id="'+row.id+'">'+value+'</span>' }
                    },
                    {field:'subjectMain',title:'片名',width:50},
                    {field:"year",title:'年份',width:20,sortable:true},
                    {field:'country',title:'国家/地区',width:40},
                    {field:'genre',title:'类型',width:40},
                    {field:'imdbNo',title:'imdb',width:10},
                    {field:'doubanNo',title:'豆瓣',width:10},
                    {field:'runtime',title:'片长',width:50}
                ]],
                loadFilter: function(data){
                    var ret={};
                    ret.rows=data.content;
                    ret.total=data.totalElements;
                    return ret;
                },
                onLoadSuccess:function(data){
                    $('.easyui-tooltip').tooltip({
                        content: $('<div></div>'),
                        onShow: function(){
                            $(this).tooltip('arrow').css('left', 20);
                            $(this).tooltip('tip').css('left', $(this).offset().left);
                        },
                        onUpdate: function(cc){
                            cc.panel({
                                width: 600,
                                height: 'auto',
                                border: false,
                                href: '/films/'+$(this).attr("id")+"/media", //获取电影对应的filepath
                            });
                        }
                    });
                }
            });
        });
    </script>
</head>

<body>
<div class="easyui-layout" fit="true">
    <div region="center" border="true" iconCls="icon-filter" title="查询列表" split="true">
        <table id="dg" class="easyui-datagrid"></table>
    </div>
</div>
<div id="toolbar" style="background:#E0ECFF;width:100%;">
    <span>片名:</span>
    <input id="name" style="line-height:18px;border:1px solid #ccc">
    <span>盘符:</span>
    <input id="diskNo" style="line-height:18px;border:1px solid #ccc">
    创建时间从：<input type="text" id="startDate" editable="true" class="easyui-datebox" style="width:110px;">
    到：<input type="text" id="endDate" editable="true" class="easyui-datebox" style="width:110px;">
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-search'"
       onclick="doSearch()">查询</a>
</div>
<div id="tab-tools">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'"
       onclick="addPanel()"></a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'"
       onclick="removePanel()"></a>
</div>
<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
     closed="true" buttons="#dlg-buttons">
    <div class="ftitle">User Information</div>
    <form id="fm" method="post" novalidate>
        <div class="fitem">
            <label>First Name:</label>
            <input name="firstname" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Last Name:</label>
            <input name="lastname" class="easyui-validatebox" required="true">
        </div>
        <div class="fitem">
            <label>Phone:</label>
            <input name="phone">
        </div>
        <div class="fitem">
            <label>Email:</label>
            <input name="email" class="easyui-validatebox" validType="email">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">Save</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel"
       onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
</body>
</html>