<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title>table</title>
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-themes/ui-cupertino/easyui.css">
    <link rel="stylesheet" type="text/css" href="/components/jquery-easyui-1.5.1/themes/icon.css">

    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/components/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>


    <script type="text/javascript">
        function doSearch() {
            $("#dg").datagrid('reload',{
//                name:$("#name").val(),
//                diskNo:$("#diskNo").val(),
//                startDate:$("#startDate").val(),
//                endDate:$("#endDate").val() fOpenRoomDetail
            });
        }

        function showFilmList(rowIndex, personId, produceype) {
            $('#filmlistdlg').dialog({
                title: '影片列表',
                width: 730,
                height: 800,
                closed: false,
                cache: false,
//                collapsible: true,
//                maximizable: true,
                resizable: true,
                shadow: true,
                left: 100,
                top: 10,
                modal: true,
//                onResize:function(){$(this).dialog('center');},
                content: '<iframe frameborder="0"  src="/persons/' + personId + '/films/type/'+produceype+'"  style="height: 98%; width: 100%;" ></iframe>'
            });
        }

        function formatAsDirector(index, row ) {
            return "<a style='text-decoration: none;cursor:pointer;' href='javascript:showFilmList("+ index + ","+ row['id'] + ",1)'>"+ row['asDirectorNumber'] + "</a>";
        }
        function formatAsActor(index, row ) {
            return "<a style='text-decoration: none;cursor:pointer;' href='javascript:showFilmList("+ index + ","+ row['id'] + ",2)'>"+ row['asActorNumber'] + "</a>";
        }
        
        function show() {
            $(this).tooltip('arrow').css('left', 20);
            $(this).tooltip('tip').css('left', $(this).offset().left);
        }

        function update(cc) {
            cc.panel({
                width: 500,
                height: 'auto',
                border: false,
                href: '_content.html'
            });
        }

        $(document).ready(function () {
            $("#dg").datagrid({
                url:'${dataUrl}',
                toolbar: '#toolbar',
                pagination:true,
                rownumbers:true,
                striped:true,
                border:false,
                fit:true,//自动补全
                fitColumns:true,
                multiSort:true,
                remoteSort:true,
                pageSize:25,
                pageList:[25,50,100,200],
                columns:[[
                    {field:'ck',checkbox:'true'},
                    {field:'id',title:'id',hidden:'true'},
                    {field:'name',title:'姓名',width:50,
                        formatter: function (value, row, index) { return '<span class="easyui-tooltip" id="'+row.person.id+'">'+row.person.name+'</span>' }
                    },
                    {field:'asActorNumber',title:'参演',width:20,
                        formatter: formatAsActor
                    },
                    {field:'asDirectorNumber',title:'参导',width:20,
                        formatter: formatAsDirector
                    },
                    {field:'nameExtend',title:'姓名（全）',width:80,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.nameExtend;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'job',title:'工作',width:120,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.job;
                            } else {
                                return value;
                            }
                        }
                    },

                    {field:'birthDay',title:'出生日',width:30,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.birthDay;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'birthPlace',title:'出生地',width:60,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.birthPlace;
                            } else {
                                return value;
                            }
                        }
                    },
                    {field:'gender',title:'性别',width:10,
                        formatter: function(value,row,index){
                            if (row.person){
                                return row.person.gender;
                            } else {
                                return value;
                            }
                        }
                    },
//                    {field:'nameExtend',title:'片名',width:50},
//                    {field:'gender',title:'片名',width:50},
//                    {field:'birthDay',title:'片名',width:50},
//                    {field:'birthPlace',title:'片名',width:50},
//                    {field:'job',title:'片名',width:50},
//                    {field:'imdbNo',title:'片名',width:50},
//                    {field:'doubanNo',title:'片名',width:50}
                ]],
                loadFilter: function(data){
                    var ret={};
                    ret.rows=data.content;
                    ret.total=data.totalElements;
                    return ret;
                }

            });



        });


    </script>

</head>
<body>


<div class="easyui-layout" fit="true">
    <div region="north" border="true" id="search" title="查询条件" iconCls="icon-search" split="true" style="height:70px;font-size: 12px;padding: 5px">
        <span>片名:</span>
        <input id="name" style="line-height:18px;border:1px solid #ccc">
        <span>盘符:</span>
        <input id="diskNo" style="line-height:18px;border:1px solid #ccc">
        创建时间从：<input type="text" id="startDate" editable="true" class="easyui-datebox"  style="width:110px;">
        到：<input type="text" id="endDate" editable="true" class="easyui-datebox"  style="width:110px;">
        <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
    </div>
    <div region="center" border="true" iconCls="icon-filter" title="查询列表" split="true">
        <table id="dg" class="easyui-datagrid"></table>
    </div>
</div>
<div id="toolbar"  style="background:#E0ECFF;width:100%;">
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-add">新增</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-edit">编辑</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-remove">移除</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-save">保存</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-cancel">删除</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-reload">刷新</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search">查询</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-print">打印</a>
</div>
<div id="tab-tools">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="addPanel()"></a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="removePanel()"></a>
</div>

<div id="filmlistdlg"></div>

</body>
</html>