 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Film Repository HomePage</title>
    <link rel="stylesheet" type="text/css" href="./components/jquery-easyui-themes/ui-cupertino/easyui.css">
    <link rel="stylesheet" type="text/css" href="./components/jquery-easyui-1.5.1/themes/icon.css">
    <script type="text/javascript" src="./components/jquery-easyui-1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="./components/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="./components/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="./js/jquery.cookie.js"></script>

    <script  type="text/javascript">
        /*遍历多媒体文件夹，符合条件的电影条目写入数据库*/
        function gather() {
            $.ajax({
                url:"/gather",
                type:"get",
                data:"",
                dataType: "json",
                success:function (data) {

                    $('#resText').empty();   //清空resText里面的所有内容
                    var html = '没有新数据被添加！';
                    $.each(data, function(commentIndex, comment){
                        html += '<div class="comment">' + comment['fullPath'] +':'+ comment['mediaSize'] +'</div>';
                    });
                    $('#resText').html(html);
                }
            });
        }

        function transfer() {
            $.ajax({
                url:"/transfer",
                type:"get",
                data:"",
                dataType: "json",
                success:function (data) {

                    $('#resText').empty();   //清空resText里面的所有内容
                    $.each(data, function(commentIndex, comment){
                        html += '<div class="comment">' + comment['name_chn'] +':'+ comment['year'] +'</div>';
                    });
                    $('#resText').html(html);
                }
            });
        }

        function pickup() {
            $.ajax({
                url:"/pickup",
                type:"get",
                data:"",
                dataType: "json",
                success:function (data) {

                    $('#resText').empty();   //清空resText里面的所有内容
                    $.each(data, function(commentIndex, comment){
                        html += '<div class="comment">' + comment['name_chn'] +':'+ comment['year'] +'</div>';
                    });
                    $('#resText').html(html);
                }
            });
        }


        function relation() {
            $.ajax({
                url:"/relation",
                type:"get",
                data:"",
                dataType: "json",
                success:function (data) {

                    $('#resText').empty();   //清空resText里面的所有内容
                    $.each(data, function(commentIndex, comment){
                        html += '<div class="comment">' + comment['name_chn'] +':'+ comment['year'] +'</div>';
                    });
                    $('#resText').html(html);
                }
            });
        }

        //++++++++++++++++++++
        //Tab选项卡相关操作
        //+++++++++++++++++++
        function tabClose() {
            /*双击关闭TAB选项卡*/
            $(".tabs-inner").dblclick(function(){
                var subtitle = $(this).children(".tabs-closable").text();
                $('#tabs').tabs('close',subtitle);
            })
        }

        function addTab(title, url){
            if ($('#tabs').tabs('exists', title)){
                $('#tabs').tabs('select', title);//选中并刷新
                var currTab = $('#tabs').tabs('getSelected');
                var url = $(currTab.panel('options').content).attr('src');
                if(url != undefined && currTab.panel('options').title != '首页') {
                    $('#tabs').tabs('update',{
                        tab:currTab,
                        options:{
                            content:createFrame(url)
                        }
                    });
                }
            } else {
                $('#tabs').tabs('add',{
                    title:title,
                    content:createFrame(url),
                    closable:true,
                    tools:[{
                        iconCls:"icon-mini-refresh",
                        handler:function(){
                            $('#tabs').tabs('getSelected').find("iframe")[0]
                                .contentWindow.location.reload(true);
                        }
                    }]
                });
            }
            tabClose();
        }

        function createFrame(url) {
            var s = '<iframe scrolling="auto" frameborder="0" src="'+url+'" style="width:100%; height:100%"></iframe>';
            return s;
        }

        $(document).ready(function(){
            $('#userMenu').tree({
                url: '/tree',
                //method: 'post',
                //queryParams: {"id" : 0},
                //url: '/tree.json',
                method: 'get',
                animate: true,
                checkbox: false,
                onClick: function(node){
                    //用node.id或者其他字段来取grid中的数据，并刷新grid
                    //       refresh(node.id);
                    if(node.id != '' & node.htmlUrl!=''){
                        addTab(node.text, node.htmlUrl);
                    }
                }
            });
        });
    </script>

    <style type="text/css">
        body {
            margin:0px;
            padding:0px;
            width:100%;
            height:100%;
        }
        #tabs .tabs-panels>.panel>.panel-body {
            overflow: hidden;
        }
    </style>
</head>


<body class="easyui-layout">
    <div data-options="region:'north'" border="false" style="height:50px;overflow-y: hidden;background-color: #E0ECFF;font-size: 14px;padding: 8px">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-disk',size:'large',plain:'true'"></a>
        IMDb, the world's most popular and authoritative source for movie, TV and celebrity content.
        <div id="login" style="position:absolute;right: 5px;top: 5px;">
            <span style="font-size: 12px;">欢迎</span> <a href="#" class="easyui-menubutton" menu="#login1" iconCls="icon-man">Tiago</a>
        </div>
        <div id="login1" style="width:150px;">
            <div iconCls="icon-undo">Undo</div>
            <div iconCls="icon-redo">Redo</div>
            <div class="menu-sep"></div>
            <div>Cut</div>
            <div>Copy</div>
            <div>Paste</div>
            <div class="menu-sep"></div>
            <div iconCls="icon-remove">注销</div>
            <div>退出</div>
        </div>
    </div>


    <!--<div data-options="region:'east',split:true,hideCollapsedContent:false" title="East" style="width:150px;"></div>-->
    <div title="收藏馆" iconCls="icon-twotone-home" region="west" split="true" style="width:170px;" >
        <div class="easyui-accordion" fit="true" border="false" >
            <div title="鉴定整理" iconCls="icon-twotone-grow" >
                <ul id="userMenu" style="padding: 15px">
                </ul>
            </div>
            <div title="系统配置" iconCls="icon-note" >
                <ul id="systemMenu">
                </ul>
            </div>
        </div>
    </div>



    <div id="mainPage" region="center" border="true">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">

            <div title="首页" fit="true" style="padding: 5px">

                <div class="easyui-panel" title=" 遍历硬盘 " style="width:700px;height:150px;padding: 10px">
                    <p>PC文件夹路径：</p>
                    <input class="easyui-filebox" name="file1" data-options="prompt:'选择文件'" style="width:80%">
                    <a href="javascript:void(0);" onclick="gather();" class="easyui-linkbutton" style="width: 50px">开 始</a>
                </div>
                <div style="margin:10px 0 10px 0;"></div>

                <div class="easyui-panel" title=" 网页爬取 " style="width:700px;height:250px;padding: 10px">
                    <p>爬取方式：</p>
                    <p>eg.</p>
                    <input class="easyui-textbox" name="file1" data-options="prompt:'选择文件'" style="width:80%">
                    <a href="javascript:void(0);" onclick="gather();" class="easyui-linkbutton" style="width: 50px">开 始</a>
                    <div style="margin:5px 0 5px 0;"></div>
                    <input class="easyui-textbox" name="file1" data-options="prompt:'选择文件'" style="width:80%">
                    <a href="javascript:void(0);" onclick="gather();" class="easyui-linkbutton" style="width: 50px">开 始</a>

                </div>
                <div style="margin:10px 0 10px 0;"></div>


                <ul>
                    <li><button onclick="BrowseFolder();">收集</button></li><br>
                    <li><button onclick="transfer();">转换</button></li><br>
                    <li><button onclick="pickup();">关联Media&Film</button></li><br>
                    <li><button onclick="relation();">关联Person&Film</button></li><br>
                </ul>
                <div id="resText" style="margin: 10px">
                </div>
            </div>

        </div>
    </div>

    <div region="south" border="false" style="height: 20px;line-height:20px;background-color: #E0ECFF;padding-left: 20px;">欢迎进入...</div>

</body>
</html>