<div id="toolbar_recycle"  style="background:#E0ECFF;width:100%;padding: 2px">
    <span>片名:</span>
    <input id="name" class="easyui-textbox"  style="line-height:18px;border:1px solid #ccc">
    <span>盘符:</span>
    <input id="diskNo" class="easyui-textbox"  style="line-height:18px;border:1px solid #ccc">
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
    <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-reload">刷新</a>
</div>

