<div id="toolbar_default"  style="background:#E0ECFF;width:100%;padding: 2px">
    <span>片名:</span>
    <input id="name" class="easyui-textbox"  style="line-height:18px;border:1px solid #ccc">
    <span>盘符:</span>
    <input id="diskNo" class="easyui-textbox" style="line-height:18px;border:1px solid #ccc">
    创建时间从：<input type="text" id="startDate" editable="true" class="easyui-datebox"  style="width:110px;">
    到：<input type="text" id="endDate" editable="true" class="easyui-datebox"  style="width:110px;">
    <a href="#" class="easyui-linkbutton" plain="true" data-options="iconCls:'icon-search'" onclick="doSearch()">查询</a>
</div>